.coverBox {
  position: relative;
  z-index: 1;
}

.cover {
  height: 500px;
  width: 100%;
  background-color: #eee;
}
.title {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  padding-top: 200px;
  height: 300px;
  z-index: 3;
}
.title .pTitle {
  font-size: 35px;
}
@media screen and (max-width: 1240px) {
  .title .pTitle {
    font-size: 31px;
  }
}
@media screen and (max-width: 480px) {
  .title .pTitle {
    font-size: 28px;
  }
}
