.up {
  position: relative;
}
.down {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  z-index: 2;
}

.header {
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 9999;
}
