.header {
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 9999;
}
.head {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head p {
  margin-top: 6px;
  font-size: 24px;
  color: #666666;
}
.head span {
  font-size: 20px;
  color: #666666;
}
.cover {
  height: 310px;
  width: 100%;
  background-color: #eee;
  margin: 20px 0;
  position: relative;
}
.cover .img {
  object-fit: cover;
}
.dots {
  font-size: 40px;
  color: #666666;
  text-align: center;
}
.txt {
  color: #666666;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #666666;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
}

@media screen and (max-width: 1240px) {
  .head {
    flex-direction: column;
  }
  .head h1 {
    text-align: center;
    font-size: 29px;
  }
  .head p {
    text-align: center;
    padding-top: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .head {
    flex-direction: column;
  }
  .head h1 {
    text-align: center;
    font-size: 26px;
  }
  .head p {
    text-align: center;
    padding-top: 0;
    margin-bottom: 8px;
  }
  .loading {
    height: 800px;
  }
}
